body {
    font-family: var(--main-font);
    color: var(--almost-black);
    margin: 0 auto;
}
ul {
    list-style-type: none;
    padding: 0;
}
h4 {
    margin: 0 auto;
}

section {
    padding-block: 94px;
}
.container {
    max-width: 480px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;

    @include tablet {
        max-width: 768px;
    }

    @include desktop {
        max-width: 1200px;
    }
}
.link {
    color: var(--almost-black);
    text-decoration: none;
    font-size: $font-size14;
    font-weight: 500;
    line-height: 1, 2;
    letter-spacing: 2%;
    vertical-align: top;
    text-align: left;

    &:hover,
    &:focus,
    &:active {
        color: var(--brand-color);
        transition-duration: $default-time;
        transition-timing-function: $default-timing-function;
    }
}
.section-title {
    font-size: $font-size36;
    font-weight: 700;
    line-height: 1, 2;
    letter-spacing: 3%;
    vertical-align: top;
    text-align: center;
    padding-bottom: 50px;
    margin-top: 60px;
}
.card-set {
    display: none;
    justify-content: space-between;
    padding: 0;
    gap: 30px;

    @include mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        width: 100%;
    }

    @include tablet {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 354px;
    }
    @include desktop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 270px;
    }
}

a:hover,
:focus {
    fill: var(--brand-color);
    transition-duration: $default-time;
    transition-timing-function: $default-timing-function;
}
