.grey {
    background-color: var(--almost-white);
   

    .frame {
        border-radius: $default-border-radius;
        box-shadow: $default-box-shadow;
        padding: 0;
    }
    .card-set__element {
        background-color: var(--snow);
        justify-content: space-between;
        width: $employee-card-width;

        @include mobile {
            width: 450px;
            height: 622px;
        }

        @include tablet {
            width: 354px;
            height: 536px;
        }


        .element__name {
            font-size: $font-size16;
            font-weight: 500;
            line-height: 1, 2;
            letter-spacing: 0.48px;
            vertical-align: top;
            text-align: center;
            margin-top: 30px;
        }
        .element__position {
            color: var(--mouse);
            font-size: $font-size16;
            line-height: 1, 2;
            letter-spacing: 3%;
            vertical-align: top;
            text-align: center;
        }
    }
}
.setting {
    flex-basis: calc((100% - 90px) / 2);
}