.footer-flex {
    background-color: var(--dark-grey);

    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include desktop {
            display: flex;
            flex-direction: row;
            gap: 30px;
        }
        @include tablet {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
}
.footer-logo {
    font-family: var(--secondary-font);
    color: var(--snow);
    text-decoration: none;
    font-size: $font-size26;
    font-weight: 700;
    line-height: 1, 2;
    letter-spacing: 3%;
    vertical-align: top;
    text-align: center;

    @include mobile {
        margin-left: 50px;
        
    }
}
.footer-address {
    color: var(--snow);
    text-decoration: none;
    font-size: $font-size14;
    line-height: 1, 7;
    letter-spacing: 3%;
    vertical-align: top;
    text-align: center;
    padding-top: 20px;

    @include mobile {
        text-align: center;
    }
   
}
.footer-link {
    color: var(--snow);
    text-decoration: none;
    font-size: $font-size14;
    line-height: 1, 7;
    letter-spacing: 3%;
    vertical-align: top;
    text-align: center;

    @include mobile {
        margin-left: 45px;
    }

    &:hover,
    &:focus,
    &:active {
        color: var(--brand-color);
        transition-duration: $default-time;
        transition-timing-function: $default-timing-function;
    }
}
