.footer-input {
    margin-bottom: 12px;
    margin-right: 12px;
    width: 358px;
    height: 50px;
    border-radius: $default-border-radius;
    border: 1px solid var(--snow);
    color: var(--snow);
    background-color: var(--dark-grey);
    padding-left: 10px;
}
.footer-button {
    background-color: var(--brand-color);
    border: var(--brand-color);
    border-radius: $default-border-radius;
    box-shadow: $default-box-shadow;
    color: var(--snow);
    text-align: center;
    cursor: pointer;
    width: 200px;
    height: 55px;
    font-size: $font-size16;
    font-weight: 700;
    line-height: 1, 9;
    letter-spacing: 6%;
    vertical-align: top;
    text-align: center;
    margin-bottom: 12px;
    margin-right: 200px;

    .send-icon {
        fill: var(--snow);
        margin-left: 24px;
    }
}
