.adress {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;

    .link-color {
        color: var(--mouse);

        &:hover,
        :focus {
            color: var(--brand-color);
        }
    }
}
