.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 46px;
    max-width: 245px;
    margin-left: 47px;
    margin-right: 371px;
}
.link-underline {
    position: relative;
    top: 17px;
    border-radius: 2px;
    background: var(--brand-color);

    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 9px;
        width: 53px;
        height: 4px;
        display: block;
        background-color: var(--brand-color);
    }
}
