.adress {
    display: none;
    align-items: center;
    justify-content: space-between;
    gap: 50px;

    @include tablet {
        display: grid;
        justify-content: center;
        gap: 10px;
    }

    @include desktop {
        display: flex;
    }

    .link-color {
        color: var(--mouse);

        &:hover,
        :focus {
            color: var(--brand-color);
        }
    }
}
