.main-background {
    background-color: var(--dark-grey);
    padding: 200px 252px 200px 252px;
    background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url(../images/office.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
                90deg,
                rgba(47, 48, 58, 0.4) 0%,
                rgba(47, 48, 58, 0.4) 0%
            ),
            url(../images/imgheromob@2x.jpg);
    }

    @include tablet {
        background-image: linear-gradient(
                90deg,
                rgba(47, 48, 58, 0.4) 0%,
                rgba(47, 48, 58, 0.4) 0%
            ),
            url(../images/imgherotab@1x.jpg);

        @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: linear-gradient(
                    90deg,
                    rgba(47, 48, 58, 0.4) 0%,
                    rgba(47, 48, 58, 0.4) 0%
                ),
                url(../images/imgherotab@2x.jpg);
        }
    }
}

.container-black {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        color: var(--snow);
        font-size: $font-size44;
        font-weight: 900;
        line-height: 1, 4;
        letter-spacing: 6%;
        vertical-align: top;
        text-align: center;
    }
    &__button {
        background-color: var(--brand-color);
        border: var(--brand-color);
        border-radius: $default-border-radius;
        box-shadow: $default-box-shadow;
        color: var(--snow);
        cursor: pointer;
        width: 200px;
        font-size: $font-size16;
        font-weight: 700;
        line-height: 1, 9;
        letter-spacing: 6%;
        vertical-align: top;
        text-align: center;
        padding: 10px 41px 10px 42px;
    }
}
