.backdrop {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: not-allowed;
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition-duration: $default-time;
    transition-timing-function: $default-timing-function;
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: scale(0);
}
.modal {
    position: relative;
    width: 528px;
    height: 581px;
    background-color: var(--snow);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: $default-border-radius;
    margin: auto;
    cursor: auto;
}
.close-btn {
    position: absolute;
    cursor: pointer;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--snow);
}
.form-parts input {
    width: 448px;
    height: 40px;
    background-color: inherit;
    border: 1px solid var(--icons-grey);
    border-radius: $default-border-radius;
    display: block;
}
.form-parts-style {
    position: relative;
}
.label-style {
    font-size: $font-size12;
    line-height: 14px;
    letter-spacing: 1, 16;
    display: flex;
    color: var(--mouse);
}
.first-label {
    margin-top: 0 auto;
}
.input-style {
    padding-left: 40px;
}
.input-style:focus {
    outline: 1px solid var(--brand-color);
    transition-property: outline;
    transition-duration: $default-time;
    transition-timing-function: $default-timing-function;
}
.input-style:focus + svg {
    fill: var(--brand-color);
    transition-property: fill;
    transition-duration: $default-time;
    transition-timing-function: $default-timing-function;
}
.icons-form {
    top: 25px;
    left: 10px;
    fill: var(--almost-black);
}
.form-style {
    display: flex;
    flex-direction: column;
    margin-inline: 20px;
}
form h3 {
    text-align: center;
    font-size: $font-size20;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 1, 15;
}

.next-label {
    margin-top: 10px;
}

.form-parts svg {
    position: absolute;
}

.form-parts textarea {
    border: 1px solid var(--icons-grey);
    border-radius: $default-border-radius;
    display: block;
    resize: none;
}
.textarea {
    font-size: $font-size12;
    color: var(--icons-grey);
    width: 448px;
    height: 120px;
    padding: 12px 26px 12px 16px;
}
.modal-button {
    background-color: var(--brand-color);
    border: var(--brand-color);
    border-radius: $default-border-radius;
    box-shadow: $default-box-shadow;
    color: var(--snow);
    cursor: pointer;
    width: 200px;
    height: 50px;
    font-size: $font-size16;
    font-weight: 700;
    line-height: 1, 9;
    letter-spacing: 6%;
    vertical-align: top;
    text-align: center;
    margin: 20px 144px 40px 144px;
}
.checkbox-label {
    font-size: $font-size14;
    line-height: 24px;
    letter-spacing: 0, 58;
    color: var(--mouse);
    display: flex;
    align-items: center;
    position: relative;
}
.checkbox-label a {
    text-decoration: underline;
    color: var(--brand-color);
}
.hidden-checkbox {
    appearance: none;
    width: 16px;
    height: 15px;
    z-index: 10;
}
.checkbox-icon-empty {
    position: absolute;
    margin-top: 20px;
}
.checkbox-icon-tick {
    position: absolute;
    fill: var(--snow);
    border-radius: 2px;
    visibility: hidden;
    margin-top: 20px;
}
.hidden-checkbox:checked ~ .checkbox-icon-tick {
    visibility: visible;
    background-color: var(--brand-color);
}
.checkbox-text {
    margin-top: 20px;
    margin-left: 8px;
}
