.title {
    display: none;

    @include desktop {
        display: block;
    }
}

.specialty {
    display: none;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0;

    @include desktop {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        gap: 30px;
    }

    &__list {
        position: relative;
        overflow: hidden;
        list-style-type: none;

        @include desktop {
            display: flex;
        }
    }

    &__list-label {
        position: absolute;
        width: 100%;
        height: 70px;
        bottom: -10px;
        background-color: rgba(47, 48, 58, 80%);
        font-size: $font-size14;
        font-weight: 700;
        text-align: center;
        color: var(--snow);
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
}
