:root {
    --brand-color: #2196f3;
    --snow: white;
    --almost-black: #212121;
    --mouse: #757575;
    --almost-white: #f5f4fa;
    --dark-grey: #2f303a;
    --light: #ececec;
    --black: #000000;
    --icons-grey: #afb1b8;
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
}
$default-time: 250ms;
$default-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$default-border-radius: 4px;
$employee-card-width: 270px;
$default-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
$font-size12: 12px;
$font-size14: 14px;
$font-size16: 16px;
$font-size18: 18px;
$font-size20: 20px;
$font-size26: 26px;
$font-size36: 36px;
$font-size44: 44px;
